body {
    box-sizing: border-box;
    overflow: hidden;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    box-sizing: border-box;
}

.screen.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.screen.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.screen.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.screen.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

/* flex styles */
.all-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(69,64,144);
    background: linear-gradient(19deg, rgba(69,64,144,1) 12%, rgba(88,15,131,1) 51%, rgba(0,212,255,1) 100%);
}

.top-buttons{
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: space-between;
    padding: 1em;
}

.login-form{
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}